<footer class="p-20 d-flex flex-row-nowrap justify-content-center">
    <div class="content p-20 d-flex flex-row-nowrap justify-content-end align-items-end ">
        <p>© garage, Inc. 2026</p>
    </div>
</footer>
