<div class="sidebar d-flex flex-column mr-50">
    <a href="{{path('home')}}" class="btn btn-primary btn-icon-primary">
        <i class="fa-regular fa-house mr-5"></i>
        <span>Garage</span>
    </a>
    <ul class="sidebar-nav py-20">
    <a href="{{path('voiture_index')}}">
        <i class="fa-solid fa-car mr-5"></i></i>showroom</a>
    </a>
    </ul>
</div>
